.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.label {
  display: block;
}

.inputWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  transition: all 0.2s ease;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
}

.icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
}

.icon:hover{
  opacity: 1;
}


.inputWrapper:hover{
  border-color: #0078d7;
}

.inputWrapper:focus-within{
  border-color: #0078d7;
  box-shadow: 0 0 0 2px rgba(0, 120, 215, 0.2);
}

.input::placeholder {
  opacity: 0.6;
}
