.backButton {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-text-primary);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;
  border-radius: 50%;

  transition: all 0.2s ease;
}

.backButton:hover {
  background-color: color-mix(in srgb, var(--color-text-primary) 5%, transparent);
}
