.title {
  text-align: center;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/*ERRORES*/
.error {
  font-size: 16px;
}

.terms {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
}

/*OPCIONES*/
.options {
  display: flex;
  font-size: 14px;
}

.renember {
  display: flex;
  align-items: center;
  gap: 6px;
}

.link {
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

/*DIVIDER*/
.divider::before .divider::afer {
  content: "";
  flex: 1;
  height: 1px;
}

.divider span {
  margin: 0 10px;
  font-size: 12px;
  align-items: center;
}

/*REGISTER*/
.register {
  text-align: center;
  font-weight: 500;
}

.registerLink {
  display: inline;
  font-weight: 500;
  text-decoration: underline;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}

.wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.scrollContent {
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}
