.title {
  text-align: center;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/*ERRORES*/
.error {
  font-size: 12px;
  color: red;
}

/*OPCIONES*/
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.renember {
  display: flex;
  align-items: center;
  gap: 6px;
}

.link {
  color: #32cd32;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

/*DIVIDER*/
.divider::before .divider::afer {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc;
}

.divider span {
  margin: 0 10px;
  font-size: 12px;
  color: #6c757d;
  align-items: center;
}

/*REGISTER*/
.register {
  text-align: center;
  font-weight: 500;
}

.registerLink {
  color: #32cd32;
  font-weight: 500;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}
