/* Fondo */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
}

/* Card */
.card {
  width: 400px;
  padding: 30px;
  text-align: center;
}

/* Título */
.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Texto */
.description {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* OTP */
.otpContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Inputs */
.input {
  width: 45px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #22c55e;
  text-align: center;
  font-size: 18px;
  outline: none;
  transition: 0.2s;
}

.input:focus {
  border-color: #16a34a;
  box-shadow: 0 0 5px rgba(34, 197, 94, 0.5);
}

/* Botón principal */
.confirmButton {
  margin-top: 10px;
}

/* Texto inferior */
.text {
  font-size: 13px;
  color: #777;
  margin: 15px 0 10px;
}

/* Botón secundario */
.resendButton {
  background-color: #e5e7eb !important;
  color: #333 !important;
}
