.container{
    display: flex;
    height: 100vh;
}

/*LADO IZQUIERDO*/
.left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*LOGO*/
.brand img{
    width: 450px;
    object-fit:contain;
}


/*LADO DERECHO*/
.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*BOTON FLECHA*/
.backButton{
    position: absolute;
    top: 20px;
    left: 20px;

    background: transparent;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;


    padding: 8px;
    border-radius: 50%;

    transition: all 0.2s ease;
}

.backButton:hover{
    background-color: rgba(0,0,0,0.05);
}
