.navbar{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    height: 70px;
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 60px;
    object-fit: contain;
}

.logoText {
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: var(--color-text-primary);
    font-family: var(--font-primary);
    white-space: nowrap;
    letter-spacing: -0.5px;
}

.navLinks{
    display: flex;
    gap: 30px;
    list-style: none;
}

.link{
    text-decoration: none;
    transition: 0.2s ease;
    font-size: 16px;
}

.actions{
    display: flex;
    gap: 12px;
    align-items: center;
}

.menuBtn {
  display: none;
}

/* MOBILE */
@media( max-width:  768px){

    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .center{
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        transform:  translateY(-200%);
        transition: transform 0.3s ease;
        padding: 20px 0;
        z-index: 100;
    }

    .open{
        transform: translateY(0);
    }

    .navLinks{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .actions{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 8px 20px;
    }

    .actions button{
        width: 100%;
        height: 30px;
    }

    .menuBtn{
        display: flex;
        background:none;
        border: none;
        cursor:pointer;
    }


}

/* TABLET */
@media (max-width:1024px){
        .navbar{
        padding: 0 20px;
        height: 65px;
    }

    .logo img{
        height: 50px;
    }

    .center{
        gap: 20px;
    }

    .navLinks{
        gap: 20px;
    }

    .link{
        font-size: 14px;
    }

    .actions{
        gap: 8px;
    }

    .actions button{
        padding: 6px 12px;
        font-size: 14px;
    }
}


@media(min-width:1440px){
    .navbar{
        height: 100px;
    }

    .link{
        font-size: 20px;
    }

    .actions button{
        font-size: 24px;
        height: 40px;
    }


    .logo img{
        height: 70px;
    }
    
}


