.page{
  width:100%;
  display:flex;
  flex-direction:column;
  gap:24px;
}

.placeholder {
  min-height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  color: var(--color-text-secondary);
}