.backButton {
  position: absolute;
  top: 0;
  left: -40px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: fit-content; /* 🔥 clave */
  margin: 0 auto; /* centra el bloque */
}
